<div class="container__small__card">

    <div class="container__small__card_content">
    <div class="small__card__photo">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjFOtzuabI8ACEETrzFZof0GxjOXAWKD2S2g&usqp=CAU"
          alt=""
          height="200px"
          srcset=""
        >
      </div>

      <div class="small__card__title">
        <h1><a href="#"> Saiu a nova versão do Angular</a></h1>
      </div>
    </div>
    <div class="container__small__card__separator">
        <hr/>
    </div>
</div>
